body{
    background-color: lightgray;
}
#outerBox{
    border: #1161d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
}

#inputArea{
    color: #1161d9;
    display: flex;
    position: relative;
    /* margin-right: 50vw;
    margin-left: 50vw;
    margin-top: 15vh; */
    justify-content: center;
    width: 25vw;
    flex-direction: column;
    align-content: center;
    font-size: 2vh;
}
h{
    color:#2528ba;
    font-size: 7.5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
button{
    font-size: 2vw;
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    width: 20vw;
    height: 5vh;
}

.transactionPool{
    font-size: 2vw;
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    width: 400px;
    width: 20vw;
    height: 5vh;
}
