body {
    background-color: lightgray;
  
}
header {
  position: relative;
  color:#1161d9;
  font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 6vh;
  display: flex;
  justify-content: center;
}

/* CSS for the sign in button*/
 .signIn{
  position:relative;
  transition: .5s ease;
  top: 2vh;
  left: 40vw;
  float: left;
  font-size: 3vh;
  background-color: white;
  color: black;
  border: 2px solid lightblue;
 }
/* CSS for the sign up button*/
 .signUp{
  position:relative;
  transition: .5s ease;
  top: 2vh;
  left:46vw;
  font-size: 3vh;
  background-color: white;
  color: black;
  border: 2px solid lightblue;
 }
  /* CSS for the sign in input values*/
  .signinint{
    display: none;
    position:fixed;
    transition: .5s ease;
    top: 23vh;
    left: 44vw;
    color:#1161d9;
    font-size: 3vh;
  }
  /* CSS for the sign up input values*/
  .signupint{
    position:fixed;
    transition: .5s ease;
    top: 23vh;
    left: 44vw;
    color:#1161d9;
    font-size: 3vh;
  }
  /* CSS for the enter button*/
  .enter{
    display: flex;
    position: absolute;;
    transition: .5s ease;
    margin-top : 2vh;
    bottom: 1vh;
    left: 35vw;
    font-size: 3vh;
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    width: 30vw;
    align-items: center;
  }
  .wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960vw;
}


