body {
    background-color: lightgray;
}
h1 {
    color:#1161d9;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 300%;
    display: flex;
    justify-content: center;
}

div{

    color:#1161d9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 160%;
    display: flex;
    flex-direction:row ;

}
p1{
    margin: initial;
    border: 10px solid powderblue;
    width: 270px;
    padding: 20px;
    margin-top: 2em ;
    margin-bottom: 2em ;
    width: 270px;
    padding: 20px;
}


p2{
    color:#1161d9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 160%;
    display: flex;
    justify-content: column;
    margin-right: auto;
    margin-top: 2em ;
    margin-bottom: 2em ;
    border: 10px solid powderblue;
    width: 270px;
    padding: 20px;
}
p3{ 
    justify-content: space-between;
    margin-left: auto;
    border: 10px solid powderblue;
    width: 270px;
    padding: 20px;
    margin-top: 2em ;
    margin-bottom: 2em ;
    width: 270px;
    padding: 20px;}
