body{
    background-color: lightgray;
}
#outerBox{
    border: #1161d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#inputArea{
    color: #1161d9;
    display: flex;
    /* margin-right: 50vw;
    margin-left: 50vw;
    margin-top: 15vh; */
    justify-content: center;
    width: 25vw;
    flex-direction: column;
    align-content: center;
}
h{
    color:#2528ba;
    font-size: 7.5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
button{
    font-size: 24px;
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    width: 250px;
    width: 10vw;
    height: 5vh;
}
header{
    color:#1161d9;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 6vh;
    display: flex;
    justify-content: center;
    

}
pre{
    font-size: 2.2vh;
    display: flex;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}

.inputChequeButton{
    float: right;
    font-size: 1vw;
    background-color: #f1f1f1;
    color: black;
    border: 2px ;
    width: 20vw;
    height: 4vh;
}

.minedBlocksButton{
    float: left;
    font-size: 1vw;
    background-color: #f1f1f1;
    color: black;
    border: 2px ;
    width: 20vw;
    height: 4vh;
}

.transactionPoolButton{
    float: left;
    font-size: 1vw;
    background-color: #f1f1f1;
    color: black;
    border: 2px;
    width: 20vw;
    height: 4vh;
}
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  font-size: 1.5vw;
  padding: 16px;
  border: none;
  height: 7vh;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: lightblue;}